<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div id="main">
    <img src="my.jpg" alt="">
</div>
    <div id="desc">
        <h1>Корась Корасевич</h1>
        <p>Дата рождения: 01.01.2000</p>
        <p>Город: Киев</p>
        <p>Телефон: +38 (099) 153-23-43</p>
        <p>Школьник</p>
        <p>Школа №217</p>
</div>
<table>
    <tr>
        <td>Instagram <img src="insta.jpg" alt="" class="logo"></td>
        <td><a href="https://www.instagram.com/cool_boy_Danya/">cool_boy_Danya</a></td>
    </tr>
      <tr>
        <td></td>
        <td></td>
    </tr>  <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>